.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__delete-button {
  background-image: url(../images/Delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/DeleteHover.svg);
}

.card__like-button {
  background-image: url("../images/Union.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/LikeActive.svg);
  cursor: pointer;
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
