.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__title {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  padding: 60px 0 60px;
}

@media screen and (max-width: 627px) {
  .footer {
    max-width: 288px;
  }
}
