.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
  pointer-events: none;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0s;

  pointer-events: auto;
}

.modal__container {
  box-sizing: border-box;
  max-width: 703px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  gap: 10px;
  padding: 32px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #2121214d;
  width: 630px;
  width: 100%;
}

.modal__input:hover {
  opacity: 0.5;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__save-button {
  max-width: 156px;
  height: 52px;
  margin-top: 10px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .modal__save-button {
    width: 100%;
    max-width: none;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    max-width: none;
  }

  .modal__container {
    margin: 0;
    padding: 22px 12px 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }
}
