.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121b2;
}

.profile__add-button {
  margin: auto 0 0 auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  height: 52px;
  width: 149px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.profile__add-button:hover {
  background: rgba(33, 33, 33, 0.8);
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  margin: auto auto 0 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__edit-button {
    margin: 0;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
